body {
	background: #262b27;
	font-family: 'Nunito Sans', sans-serif;
	color: white;
}

nav {
	font-family: 'Red Hat Display', sans-serif !important;
}

input[type=email] {
	background: #2c4056;
	border: none;
	color: white;
}

input[type=email]:focus{
	background: #2c4056;
	border: 1px solid blue;
	box-shadow: none;
	color: white;
}

input[type=email]::placeholder {
  color: white;
  opacity: 0.6;
}

input[type=password] {
	background: #2c4056;
	border: none;
	color: white;
}

input[type=password]:focus{
	background: #2c4056;
	border: 1px solid blue;
	box-shadow: none;
	color: white;
}

input[type=password]::placeholder {
  color: white;
  opacity: 0.6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #2c4056 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}