body {
background: rgb(131,58,180);
background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
}

img {
	width: 80%;
}

.jumbotron {
	background: none;
	color: white;
}

.jumbotron h1 {
	font-weight: bold;
}

#title {color:white;}         /* Unvisited link  */
#title:visited {color:white;} /* Visited link    */
#title:hover {color:white;}   /* Mouse over link */
#title:active {color:white;}  /* Selected link   */