body {
	background: #262b27;
	font-family: 'Red Hat Display', sans-serif;
}

img {
	width: 80%;
	transition: all 0.5s
}

img:hover {
	transform: scale(1.1);
}

.jumbotron {
	background: none;
	color: white;
}

.jumbotron h1 {
	font-weight: bold;
	letter-spacing: 7px;
}

.lead {
	letter-spacing: 3px;
}

hr {
	border-color: white;
}

#title {color:white;}         /* Unvisited link  */
#title:visited {color:white;} /* Visited link    */
#title:hover {color:white;}   /* Mouse over link */
#title:active {color:white;}  /* Selected link   */