body {
	background: #232323;
}

nav {
	font-family: 'Red Hat Display', sans-serif !important;
}

img {
	width: 80%;
	transition: all 0.4s;
	margin-top: 0 !important;
}

img:hover {
	opacity: 0.3;
}

#title {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 120%;
}

.filter {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

/* ==============================  */
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content-title {
	color: #fff;
}

.rating-text {
	font-family: 'Fjalla One', sans-serif !important;
	font-size: 150%;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 450px;
  border-radius: 0;
  width: 100%;
  left: 0;
  top: 48px;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
	width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}