body {
	background: #232323;
	font-family: 'Oswald', sans-serif;
}

nav {
	font-family: 'Red Hat Display', sans-serif !important;
}

.rounded {
	margin-top: 10%;
}

#text {
	color: white;
}

p {
	font-size: 150%;
	line-height: 200%;
	margin-top: 10%;
}

#bg {
  position: fixed; 
  opacity: 0.3;
  top: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#title {
	font-family: 'Oswald', sans-serif;
}
